/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --main-color: #0D8F75;
    --sec-color: #082C36;
    --section-padding: 50px 0;

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.button{
    display: inline-flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--main-color);
    color: #fff;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: var(--sec-color);
}
/* End Global Rules */
/* Start Header */
header {
    background: #fff;
    position:absolute;
    height: 100px;
    width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 15px 15px;
    z-index: 999;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header .container nav ul {
    display: flex;
    display: inline-flex;
    gap: 20px;
    align-items: center;
}
header .container nav ul li a {
    color: hsl(193, 7%, 29%);
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
header .container nav ul li a:hover {
    color: var(--main-color);
}
header .container nav .button{
    margin-left: 20px;
}
/* End Header */
/* Start landing */
.landing {
    background: url(../img/bg.jpg) no-repeat center center/cover;
    height: calc(100vh);
    position: relative;
    overflow: hidden;
}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(270deg, rgba(14, 99, 82, 0.90) 0%, rgba(8, 44, 54, 0.90) 100%);
}
.landing .landing-content {
    z-index: 1;
    background-color: rgba(13, 143, 117, 0.63);
    padding: 50px 50px 50px 100px;
    width: 60%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 150px;
    position: absolute;
    top: calc(50% + 50px);
    left: 0;
    transform: translateY(-50%);
}
.landing .landing-content h1 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.landing .landing-content p {
    color: #F6F1EE;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.20px;
    width: 90%;
    margin-bottom: 30px;
}
/* End landing */
/* Start next prayer */
.prayer-time {
    padding: var(--section-padding);
}
.prayer-time .prayer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prayer-time .prayer-head .main-head {
    display: flex;
    align-items: center;
}
.prayer-time .prayer-head .main-head img {
    width: 60px;
    margin-right: 15px;
}
.prayer-time .prayer-head .main-head h2 {
    color: #081F18;
}
.prayer-time .prayer-body {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prayer-time .prayer-body .next-prayer {
    background: url(../img/prayerimg.png) no-repeat center center/cover;
    height: 200px;
    width: 400px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.prayer-time .prayer-body .next-prayer .overlay{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.prayer-time .prayer-body .next-prayer .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.prayer-time .prayer-body .next-prayer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
.prayer-time .prayer-body .next-prayer .info h3 {
    color: #0D8F75;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5.76px;
}
.prayer-time .prayer-body .next-prayer .info .date {
    text-align: center;
}
.prayer-time .prayer-body .next-prayer .info .date h4{
    color: #E6E6E6;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3.84px;
}
.prayer-time .prayer-body .next-prayer .info .date p {
    color: #D3D3D3;
    font-size: 12px;
    font-weight: 400;
    margin-top: -5px;
}
.prayer-time .prayer-body .next-prayer .left-time{
    color: white;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    z-index: 2;
    text-align: center;
}
.prayer-time .prayer-body .prayers-time {
    display: flex;
}
.prayer-time .prayer-body .prayers-time .prayer{
    text-align: center;
    margin-left: 50px;
}
.prayer-time .prayer-body .prayers-time .prayer img{
    width: 50px;
    margin-bottom: 10px;
}
.prayer-time .prayer-body .prayers-time .prayer h3{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #081F18;
    margin-bottom: 10px;
}
.prayer-time .prayer-body .prayers-time .prayer p {
    font-size: 14px;
    color: #081F18;
    font-weight: 400;
    text-transform: capitalize;
}
/* End next prayer */
/* Start Discover */
